@media (max-width: 1200px) {
    .form__field {
        width: 100%;
    }
}

@media (max-width: 992px) {
    /* header */
    .header__nav {
        display: none;
    }

    .btn-burger {
        --burger-color: #3172B9;
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid var(--burger-color);
        border-radius: 3px;
    }

    .btn-burger__line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 20px;
        border-radius: inherit;
        background-color: var(--burger-color);
    }

    .btn-burger__line:nth-child(1) {
        top: 13px;
    }

    .btn-burger__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-burger__line:nth-child(3) {
        bottom: 13px;
    }

    .header__btn {
        margin-right: 7px;
        padding: 11px 21px;
      }

    /* services */
    .services__list {
        --offsets: 1;
      }  

    /* clients */
    .clients__list {
        --offsets: 1;
      }

    /* footer */
    .footer__container {
        flex-direction: column;
        justify-content: baseline;
    }

    .footer__right {
        order: -1;
        margin-bottom: 40px;
    }

}

@media (max-width: 768px) {
    /* articles */
    .blog__link {
        flex-direction: column;
    }

    .blog__text {
        padding-bottom: 30px;
    }
    
    /* join us */
    .form {
        padding: 0;
    }

    /* footer */
    .nav__list_margin {
        margin-right: 30px;
    }

    .nav__item:not(:last-child) {
        margin-right: 20px;
      }
}